{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load social %}

{% block title %}Test{% endblock %}

{% block content %}
<div class="card bg-light mt-2 mb-2">
    <div class="card-header">
        Uploader profile for <b>{{ user.username }}</b>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row flex-wrap">
            <div class="col-12 col-md-12 col-lg-8">
                <img src="https://www.gravatar.com/avatar/{{ email_hash }}?s=200"
                    class="profile-avatar" />
                <h3><b>{{ user.username }}</b></h3>
                <h4>
                    <i class="fas fa-box text-dark mr-1"></i>&nbsp;{{ package_count }}&nbsp;&nbsp;
                    <i class="fas fa-download text-dark mr-1"></i>&nbsp;{{ total_downloads}}&nbsp;&nbsp;
                    <i class="fas fa-thumbs-up text-dark mr-1"></i>&nbsp;{{ total_likes }}
                </h4>
                <p>
                    Join date: {{ user.date_joined|date:"DATE_FORMAT" }}
                    <h5>Connections:</h5>
                    {% for provider in social_providers %}
                    <span class="text-capitalize">{{ provider.provider }}</span>: {% social_username user provider.provider %}<br>
                    {% endfor %}
                </p>
            </div>

            <!-- Badges box TODO: This. -->
            <div class="col-12 col-md-12 col-lg-4" style="display:none;">
                <h4>Badges</h4>
                <div id="badges" class="w-100">
                    <div title="Profile badge">
                        <img src="https://cdn.discordapp.com/avatars/226680739570253824/fe9c4346987d53de5b817dd70e16cd2e.png?size=128"
                            class="profile-badge" />
                    </div>
                    <div title="Profile badge">
                        <img src="https://cdn.discordapp.com/avatars/226680739570253824/fe9c4346987d53de5b817dd70e16cd2e.png?size=128"
                            class="profile-badge" />
                    </div>
                    <div title="Profile badge">
                        <img src="https://cdn.discordapp.com/avatars/226680739570253824/fe9c4346987d53de5b817dd70e16cd2e.png?size=128"
                            class="profile-badge" />
                    </div>
                    <div title="Profile badge">
                        <img src="https://cdn.discordapp.com/avatars/226680739570253824/fe9c4346987d53de5b817dd70e16cd2e.png?size=128"
                            class="profile-badge" />
                    </div>
                    <div title="Profile badge">
                        <img src="https://cdn.discordapp.com/avatars/226680739570253824/fe9c4346987d53de5b817dd70e16cd2e.png?size=128"
                            class="profile-badge" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if popular_packages %}

<div class="row">
    <div class="col-12 mt-4">
        <h3 style="display:inline;">
            Popular packages
        </h3>
        <h4 style="display:inline;float:right;">
            <a href="{{ user.packagelisting_url }}">
                See all packages from <b>{{ user.username }}</b>
            </a>
        </h4>
    </div>
</div>

<div class="d-flex flex-row flex-wrap mb-3 package-list">
    {% for object in popular_packages %}
    {% include "community/package.html" with object=object %}
    {% endfor %}

</div>

{% else %}
No packages have been uploaded by {{ user.username }} :(
{% endif %}

{% endblock %}