repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: "5.6.4"
    hooks:
      - id: isort
        exclude: "^(loadtest)"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.2.1"
    hooks:
      - id: prettier
        exclude: "^(django/|builder/src/[a-z]+/vendor/)"
  - repo: https://gitlab.com/PyCQA/flake8
    rev: "3.8.4"
    hooks:
      - id: flake8
        exclude: "migrations/"
        args:
          - "--exit-zero"
        verbose: true
        additional_dependencies:
          - "flake8-2020==1.6.0"
          - "flake8-broken-line==0.3.0"
          - "flake8-bugbear==20.11.1"
          - "flake8-builtins==1.5.3"
          - "flake8-commas==2.0.0"
          - "flake8-comprehensions==3.3.1"
          - "flake8-pie==0.6.1"
          - "flake8-printf-formatting==1.1.0"
          - "flake8-pytest-style==1.3.0"
          - "pep8-naming==0.11.1"
