{% extends 'repository/_wiki_base.html' %}
{% load arrow %}
{% load markdownify %}

{% block wiki_content %}
    <div class="card-header d-flex justify-content-between gap-1 flex-wrap">
        <div class="mb-0 d-flex flex-column flex-grow-1">
            <h4 class="mb-0">Wiki page not found</h4>
        </div>
    </div>
    <div class="card-body d-flex flex-column" style="min-height: 400px">
        <div class="d-flex justify-content-center align-items-center flex-column" style="flex: 1;">
            <p>Looks like this wiki page doesn't exist</p>
            <a href="{{ object.get_wiki_url }}">Wiki home</a>
        </div>
    </div>
{% endblock %}
