{% extends 'repository/_wiki_base.html' %}
{% load community_url %}
{% load encode_props %}

{% block wiki_breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ object.get_wiki_url }}">Wiki</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
{% endblock %}

{% block wiki_content %}
    <div id="edit-page"></div>
    <script type="text/javascript">
    window.ts.PageEditPage(
        document.getElementById("edit-page"),
        {{ editor_props|encode_props }}
    );
    </script>
{% endblock %}
