{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load markdownify %}
{% load cache_until %}

{% block title %}{{ object.display_name }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ object.display_name }} v{{ object.version_number }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% thumbnail object.icon 256x256 %}" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<meta property="og:description" content="{{ object.description }}" />
<meta property="og:site_name" content="{{ site_name }}" />
{% endblock %}

{% block content %}
{% cache_until "any_package_updated" "mod-version-detail" 300 object.pk %}

<nav class="mt-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "old_urls:packages.list" %}">Packages</a></li>
    <li class="breadcrumb-item"><a href="{% url "old_urls:packages.list_by_owner" object.owner.name %}">{{ object.owner.name }}</a></li>
    {% if object.package.is_effectively_active %}
    <li class="breadcrumb-item"><a href="{{ object.package.get_absolute_url }}">{{ object.package.display_name }}</a></li>
    {% else %}
    <li class="breadcrumb-item text-dark">{{ object.package.display_name }}</li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ object.version_number }}</li>
  </ol>
</nav>

{% if object.is_deprecated %}
    <div class="alert alert-danger" role="alert">
        This package has been marked as deprecated, and it's suggested another
        alternative is used.
    </div>
{% endif %}
{% if not object.package.is_effectively_active %}
    <div class="alert alert-danger" role="alert">
        This package has been disabled by the author, and is not recommended to
        be used.
    </div>
{% else %}
    {% if not object.is_active %}
    <div class="alert alert-danger" role="alert">
        This package version has been disabled by the author, and is not recommended
        to be used. Use a newer version instead.
    </div>
    {% endif %}
    <div class="alert alert-warning">
        You are viewing a potentially older version of this package.
        <a href="{{ object.package.get_absolute_url }}">View all versions.</a>
    </div>
{% endif %}

<div class="card bg-light mt-2 mb-2">
    <div class="card-header">
        <div class="media">
            <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
            <div class="media-body">
                <h1 class="mt-0">{{ object.display_name }}</h1>
                <p>{{ object.description }}</p>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">By <a href="{{ object.owner_url }}">{{ object.owner.name }}</a></h5>
                    {% if object.website_url %}
                    <a href="{{ object.website_url }}">{{ object.website_url }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pb-1">
        <table class="table mb-0">
            <tr>
                <td>Date uploaded</td>
                <td>{% humanize_timestamp object.date_created %}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ object.version_number }}</td>
            <tr>
                <td>Download link</td>
                <td><a href="{{ object.download_url }}">{{ object.full_version_name }}.zip</a></td>
            </tr>
            <tr>
                <td>Downloads</td>
                <td>{{ object.downloads }}</td>
            </tr>
            <tr>
                <td>Dependency string</td>
                <td>{{ object.full_version_name }}</td>
            </tr>
        </table>
    </div>
</div>

{% with object.dependencies.all as dependencies %}
{% if dependencies %}
    {% include "repository/includes/dependencies.html" with dependencies=dependencies %}
{% endif %}
{% endwith %}

<div class="card bg-light mb-2 mt-2">
    <div class="card-header"><h4 class="mb-0">README</h4></div>
    <div class="card-body markdown-body">
        {{ object.readme|markdownify }}
    </div>
</div>

{% if object.package.changelog %}
<div class="card bg-light mb-2 mt-2">
    <div class="card-header"><h4 class="mb-0">CHANGELOG</h4></div>
    <div class="card-body markdown-body">
        {{ object.package.changelog|markdownify }}
    </div>
</div>
{% endif %}

{% endcache %}
{% endblock %}
