{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block main_content_left %}{% endblock %}
{% block content_beginning %}{% endblock %}

{% block content %}
<h1 class="mt-4">Upload package</h1>

<div class="mb-3 mt-3 alert alert-info" role="alert">
    <p class="mb-0">
        Looking for package format documentation?
        <a href="{% url 'old_urls:packages.create.docs' %}">You can find it here</a>
    </p>
</div>
<div class="mb-3 mt-3 alert alert-info" role="alert">
    <ul class="mb-0 pl-3">
        <li>
            New upload handler not working?
            <a href="{% url 'old_urls:packages.create.old' %}">Try the old one here</a>
        </li>
        <li>
            Preview your readme before upload using the
            <a href="{% url 'tools.markdown-preview' %}">markdown preview tool</a>
        </li>
        <li>
            Uploading a large file? Check your package manifest first with the
            <a href="{% url 'tools.manifest-v1-validator' %}">package manifest validator</a>
        </li>
    </ul>
</div>

<div id="upload-page"></div>
<script type="text/javascript">
window.ts.UploadPage(document.getElementById("upload-page"));
</script>

{% endblock %}
{% block content_footer %}{% endblock %}
{% block content_end %}{% endblock %}
{% block main_content_right %}{% endblock %}
