{% extends 'base.html' %}
{% load community_url %}

{% block title %}Upload{% endblock %}

{% block main_content_left %}{% endblock %}
{% block content_beginning %}{% endblock %}

{% block content %}
<h1 class="mt-4">Upload package</h1>

<div class="mb-3 mt-3 alert alert-info" role="alert">
    <p class="mb-0">
        Need help formatting your package?
        <a href="https://wiki.thunderstore.io/creating-a-package">Check out the Thunderstore wiki</a>
    </p>
</div>
<div class="mb-3 mt-3 alert alert-info" role="alert">
    <p class="mb-0">
        <a href="{% community_url 'packages.create' %}">Looking for the new upload handler?</a>
    </p>
</div>
<form class="mt-2" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <label for="id_file" class="btn btn-primary btn-lg btn-block" id="file_drop" style="cursor: pointer;"></label>
    <input type="file" class="btn btn-primary btn-lg btn-block" name="file" required="" id="id_file" style="display: none;">
    {{ form.file.errors }}

    <div class="card bg-light mb-2">
        <div class="card-header">Listing options</div>
        <div class="card-body py-2">
            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>

            <div class="field-wrapper">
                <div class="field-row">
                    <label for="{{ form.team.id_for_label }}">Team</label>
                    <div class="w-100">
                        {{ form.team }}
                        <p class="mt-1 mb-2">
                            The team name will become the prefix of the package ID.
                            No teams available? <a href="{% url "settings.teams.create" %}" class="ml-1">Create one here!</a>
                        </p>
                    </div>
                </div>
                <div class="text-danger field-errors">{{ form.team.errors }}</div>
            </div>

            <div class="field-wrapper">
                <div class="field-row">
                    <label for="{{ form.communities.id_for_label }}">Communities</label>
                    <div class="w-100">
                        {# Manual rendering due to different set being displayed than validated #}
                        <select class="slimselect-lg" name="communities" id="{{ form.communities.auto_id }}" multiple>
                            {% for opt in selectable_communities %}
                            <option value="{{ opt.identifier }}">{{ opt.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="text-danger field-errors">{{ form.communities.errors }}</div>
            </div>

            <div class="field-wrapper">
                <div class="field-row">
                    <label for="{{ form.has_nsfw_content.id_for_label }}">Contains NSFW content</label>
                    {{ form.has_nsfw_content }}
                </div>
                <div class="text-danger field-errors">{{ form.has_nsfw_content.errors }}</div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Upload">
</form>

<script type="text/javascript">

new SlimSelect({
    select: "#{{ form.team.auto_id }}"
});
new SlimSelect({
    select: "#{{ form.communities.auto_id }}"
});

var file_drop = document.getElementById("file_drop");
var file_input = document.getElementById("id_file");
var last_target;

file_drop.ondragover = file_drop.ondragenter = function(evt) {
    evt.preventDefault();
};

file_drop.ondrop = function(evt) {
    file_input.files = evt.dataTransfer.files;
    evt.preventDefault();
    reset_file_input();
};

function reset_file_input() {
    if (file_input.files.length > 0) {
        file_drop.textContent = file_input.files[0].name;
    } else {
        file_drop.textContent = 'Choose or drag file here';
    }
    file_drop.style.height = "";
    file_drop.style.border = "";
}

file_input.addEventListener("change", function(){
    reset_file_input();
});

window.addEventListener("dragenter", function(e)
{
    last_target = e.target;
    file_drop.style.height = "200px";
    file_drop.style.border = "4px solid #fff";
    file_drop.innerHTML = 'Drag file here';
});

window.addEventListener("dragleave", function(e)
{
    if(e.target === last_target || e.target === document)
    {
        reset_file_input();
    }
});
window.addEventListener("drop", function()
{
    reset_file_input();
});

reset_file_input();
</script>
{% endblock %}
{% block footer_top %}{% endblock %}
{% block content_end %}{% endblock %}
{% block main_content_right %}{% endblock %}
