{% extends 'base.html' %}

{% block title %}Manifest Validator{% endblock %}
{% block main_content_left %}{% endblock %}
{% block content_beginning %}{% endblock %}

{% block content %}
<h1 class="mt-4">Manifest Validator</h1>

<div id="manifest-validator-page"></div>
<script type="text/javascript">
    window.ts.ManifestValidationPage(document.getElementById("manifest-validator-page"));
</script>

{% endblock %}
{% block content_footer %}{% endblock %}
{% block content_end %}{% endblock %}
{% block main_content_right %}{% endblock %}
