{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-1">Account already associated</h1>
    <p>
        This account has already been associated to another user. Please log out
        and log back in with it instead.
    </p>
    <p>
        If the problem persists and you require immediate assistance, please
        head to our <a href="https://discord.gg/UWpWhjZken">Discord server</a> and
        contact an administrator.
    </p>
    <a href="{% url "index" %}">Back to the main page</a>
{% endblock %}
