{% extends 'settings/base.html' %}
{% load social %}

{% block title %}Delete Account{% endblock %}

{% block settings_content %}
<p>
    You are about to delete your account. Once deleted, it will be gone forever.
</p>
<p>
    You will lose access to these teams:
    <br>
    <kbd class="text-info">{{ team_names }}</kbd>
</p>
<p>
    The mods that have been uploaded to these teams will remain on the
    site even after account deletion. If you need them to be taken down as well, please
    contact an administrator in the Thunderstore Discord server.
</p>
<p>
    As a precaution, to delete your account, please input <kbd class="text-info">{{ request.user.username }}</kbd>
    to the field below
</p>

<form class="form-inline" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class="col-12 p-0 mb-2">
        <div class="text-danger">{{ form.verification.errors }}</div>
        <input type="text" class="form-control" name="verification" placeholder="Verification" autocomplete="off">
    </div>
    <div class="col-12 p-0">
        <input type="submit" class="btn btn-outline-danger" value="I understand this action is irrevocable and want to continue">
    </div>
</form>

{% endblock %}
