{% extends 'settings/base.html' %}
{% load social auth_login %}

{% block title %}Linked Accounts{% endblock %}

{% block settings_content %}
{% for entry in backends.associated|dictsort:"provider" %}
    <div class="row text-large mb-2">
        <div class="col-5">
            {% include "settings/includes/provider_display.html" with provider=entry.provider %}
        </div>
        <div class="col-3">
            <form class="form-inline" method="post" action="{{ request.path }}">
                {% csrf_token %}
                <input type="hidden" name="provider" value="{{ entry.provider }}">
                {% if can_disconnect %}
                    <input type="submit" class="btn btn-outline-danger" value="Disconnect">
                {% else %}
                    <button class="btn btn-outline-danger disabled" disabled>Disconnect</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4">
            <span class="text-white-50">{% social_username request.user entry.provider %}</span>
        </div>
    </div>
{% endfor %}
{% for entry in backends.not_associated|dictsort:0 %}
    <div class="row text-large mb-2">
        <div class="col-5">
            {% include "settings/includes/provider_display.html" with provider=entry %}
        </div>
        <div class="col-3">
            <a href="{% add_auth_login_link entry %}" class="btn btn-outline-success">Connect</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
