{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
<h1 class="mt-4">Upload package</h1>

<form class="mt-4" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
    <div class="text-danger">
        {{ form.non_field_errors }}
        {{ form.file.errors }}
    </div>
    {% csrf_token %}
    <label for="id_file" class="btn btn-primary btn-lg btn-block" id="file_drop"></label>
    <input type="file" class="btn btn-primary btn-lg btn-block" name="file" required="" id="id_file" style="display:none;"></p>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Upload">
</form>

<h2 class="mt-4">Mod package requirements</h2>

<p>Mod packages are .zip files, with at least the following contents:</p>

<ul>
    <li><tt>/icon.png</tt> - A PNG icon for the mod, must be 256x256 resolution.</li>
    <li><tt>/README.md</tt> - A readme file to be rendered on the mod's page.</li>
    <li><tt>/manifest.json</tt> - A .json file with the mod's metadata. Required filds are:
    <ul>
        <li><tt>name</tt> - Name of the mod. Allowed characters: a-z A-Z 0-9 _. No spaces.</li>
        <li><tt>description</tt> - A short description of the mod, shown on the mod list. Max 250 characters</li>
        <li><tt>website_url</tt> - URL of the mod's website (e.g. GitHub repo). Can be empty, but the key must still exists (use an empty string for example).</li>
        <li><tt>version_number</tt> - Version number of the mod, following the <a href="https://semver.org/">semantic version format</a> Major.Minor.Patch. For example: 1.3.2.</li>
    </ul>
    </li>
</ul>

<p>On top of this, you are free to add any and all other files that belong to your mod.</p>

<div class="card bg-light">
    <div class="card-header">Example manifest.json contents</div>
    <div class="card-body">
<pre>{
    "name": "TestMod",
    "version_number": "1.1.0",
    "website_url": "https://github.com/risk-of-thunder",
    "description": "This is a description for a mod. Max length is 250 characters"
}</pre>
    </div>
</div>


<script type="text/javascript">
var file_drop = document.getElementById("file_drop");
var file_input = document.getElementById("id_file");
var last_target;

file_drop.ondragover = file_drop.ondragenter = function(evt) {
    evt.preventDefault();
};

file_drop.ondrop = function(evt) {
    file_input.files = evt.dataTransfer.files;
    evt.preventDefault();
    reset_file_input();
};

function reset_file_input() {
    if (file_input.files.length > 0) {
        file_drop.innerHTML = file_input.files[0].name;
    } else {
        file_drop.innerHTML = 'Choose file';
    }
    file_drop.style.height = "";
    file_drop.style.border = "";
}

file_input.addEventListener("change", function(){
    reset_file_input();
})

window.addEventListener("dragenter", function(e)
{
    last_target = e.target;
    file_drop.style.height = "200px";
    file_drop.style.border = "4px solid #fff";
    file_drop.innerHTML = 'Drag file here';
});

window.addEventListener("dragleave", function(e)
{
    if(e.target === last_target || e.target === document)
    {
        reset_file_input();
    }
});

reset_file_input();
</script>
{% endblock %}
