{% extends 'base.html' %}
{% load thumbnail %}
{% load markdownify %}

{% block title %}{{ object }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ object }} v{{ object.version_number }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% thumbnail object.icon 256x256 %}" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<meta property="og:description" content="{{ object.description }}" />
<meta property="og:site_name" content="Thunderstore" />
{% endblock %}

{% block content %}
<div class="media mt-4">
  <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
  <div class="media-body">
    <h1 class="mt-0">{{ object }}</h1>
    <p>{{ object.description }}</p>
    <p>By <a href="{{ object.owner_url }}">{{ object.owner.username }}</a> | {{ object.downloads }} total downloads | <a href="{{ object.website_url }}">{{ object.website_url }}</a></p>
  </div>
</div>
<div class="card bg-light mb-3 mt-2">
    <div class="card-header">README</div>
    <div class="card-body">
        <p class="card-text">{{ object.readme|markdownify }}</p>
    </div>
</div>
<h2 class="mt-2">Available versions</h2>
<p>Please note that the install buttons only work if you have compatible client
software installed. Otherwise use the zip download links instead.</p>
<table class="table">
    <tr>
        <th>Upload date</th>
        <th>Version number</th>
        <th>Downloads</th>
        <th>Download link</th>
        <th>&nbsp;</th>
    </tr>
    {% for version in object.available_versions %}
    <tr>
        <td>{{ version.date_created|date:"Y-n-j" }}</td>
        <td>{{ version.version_number }}</td>
        <td>{{ version.downloads }}</td>
        <td><a href="{{ version.download_url }}">{{ version }}.zip</a></td>
        <td><a href="{{ version.install_url }}" type="button" class="btn btn-primary">Install</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
