{% extends 'base.html' %}
{% load thumbnail %}
{% load cache_until %}
{% load qurl %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
{% cache_until "any_package_updated" "mod-list" 300 page_obj.number cache_vary %}

{% if breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
        {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}

<h3 class="mt-4">{{ page_title }}</h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-auto p-0 m-0 mb-2 mr-2">
            <div class="btn-group" role="group" aria-label="Result ordering">
                {% for entry in ordering_modes %}
                    <a href="{% qurl ordering entry.0 %}" class="btn btn-secondary {% if active_ordering == entry.0 %}active{% endif %}">
                        {{ entry.1 }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 p-0 m-0 mb-2 ml-auto">
            <form class="form-inline" method="get" action="{{ request.path }}">
                <div class="row w-100 m-0 p-0">
                    <div class="col-7 m-0 p-0 pr-2">
                        <input class="form-control w-100" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ current_search }}">
                        <input type="hidden" name="ordering" value="{{ active_ordering }}">
                    </div>
                    <div class="col-3 m-0 p-0 pr-1">
                        <button class="btn btn-outline-success w-100" type="submit">Search</button>
                    </div>
                    <div class="col-2 m-0 p-0">
                        <a href="{% url 'packages.list' %}" class="btn btn-outline-success w-100">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if object_list %}
    <div class="container mb-3">
    {% for object in object_list %}
        <div class="row border border-secondary p-2
                    {% if object.is_pinned %}bg-secondary border-light border-left-0 border-right-0 border-bottom-0{% else %}bg-light{% endif %}
                    {% if forloop.last %}rounded-bottom{% endif %}
                    {% if forloop.first %}rounded-top{% endif %}
                    {% if not forloop.first %}border-top-0{% endif %}
                    {% if object.is_deprecated %}text-dark{% endif %}">
            {% if object.is_deprecated %}<del>{% endif %}
            <div class="col-xs-12 col-md-8">
                <div class="media my-3">
                    <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
                    <div class="media-body">
                        <h5 class="mt-0"><a href="{{ object.get_absolute_url }}">{{ object.display_name }}</a> v{{ object.version_number }}</h5>
                        <p>{{ object.description }}</p>
                        <p>By <a href="{{ object.owner_url }}">{{ object.owner.name }}</a> | {{ object.downloads }} total downloads | <a href="{{ object.website_url }}">{{ object.website_url }}</a></p>
                        <small>Last updated: {{ object.date_updated }}</small>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-md-4 mb-2 d-none d-md-block">
                {% if object.sorted_dependencies %}
                    <h5 class="my-3">Dependencies</h5>
                    {% for dependency in object.sorted_dependencies|slice:":3" %}
                        <a href="{{ dependency.get_absolute_url }}">
                            <img
                                class="align-self-center mr-2 mb-2"
                                src="{% thumbnail dependency.icon 64x64 %}"
                                title="{{ dependency.display_name }}"
                                alt="{{ dependency.display_name }} icon">
                        </a>
                    {% endfor %}
                    {% if object.sorted_dependencies.count > 3 %}
                        <span class="h5 ml-2">+{{ object.sorted_dependencies.count|add:"-3" }}</span>
                    {% endif %}
                {% endif %}
            </div>
            {% if object.is_deprecated %}</del>{% endif %}
        </div>
    {% endfor %}
    </div>
    {% if is_paginated %}
        <ul class="pagination my-3">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% qurl page page_obj.previous_page_number %}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active disabled">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% qurl page i %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% qurl page page_obj.next_page_number %}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    <li class="my-4">No mods found :(</li>
{% endif %}

{% endcache %}
{% endblock %}
