{% extends 'base.html' %}
{% load social %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <h2>{{ page_title }}</h2>
            <hr class="border-white">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h5>Account settings</h5>
            <ul>
                <li><a href="{% url "settings.linked-accounts" %}">Linked Accounts</a></li>
                <li><a href="{% url "settings.delete-account" %}" class="text-danger">Delete Account</a></li>
            </ul>
        </div>
        <div class="col-9">
            {% block settings_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
