{% extends 'settings/base.html' %}
{% load social %}

{% block settings_content %}
<p>
    You are about to delete your account. Once deleted, it will be gone forever.
    Please be certain.
</p>
<p>
    The mods that have been uploaded on this account will remain public on the
    site even after deletion. If you need them to be taken down as well, please
    contact an administrator on the community Discord server.
</p>
<p>
    As a precaution, to delete your account, please input <kbd class="text-info">{{ request.user.username }}</kbd>
    to the field below
</p>

<form class="form-inline" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class="col-12 p-0 mb-2">
        <div class="text-danger">{{ form.verification.errors }}</div>
        <input type="text" class="form-control" name="verification">
    </div>
    <div class="col-12 p-0">
        <input type="submit" class="btn btn-outline-danger" value="I understand this action is irrevocable and want to continue">
    </div>
</form>

{% endblock %}
