{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="media mt-4">
  <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
  <div class="media-body">
    <h1 class="mt-0">{{ object }}</h1>
    <p>{{ object.description }}</p>
    <p><a href="{{ object.website_url }}">{{ object.website_url }}</a></p>
  </div>
</div>
<div class="card bg-light mb-3 mt-2">
    <div class="card-header">README</div>
    <div class="card-body">
        <p class="card-text">{{ object.readme }}</p>
    </div>
</div>
<h2 class="mt-2">Available versions</h2>
<table class="table">
    <tr>
        <th>Upload date</th>
        <th>Version number</th>
        <th>Download link</th>
    </tr>
    {% for version in object.available_versions %}
    <tr>
        <td>{{ version.date_created|date:"Y-n-j" }}</td>
        <td>{{ version.version_number }}</td>
        <td><a href="{{ version.file.url }}">{{ version }}.zip</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
