{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Package list{% endblock %}

{% block content %}
<h1 class="mt-2">Package list</h1>
<ul class="list-unstyled">
{% if object_list %}
    {% for object in object_list %}
        <li class="media my-3">
            <img class="align-self-center mr-3" src="{% thumbnail object.icon 128x128 %}" alt="{{ object }} icon">
            <div class="media-body">
                <h5 class="mt-0"><a href="{{ object.get_absolute_url }}">{{ object }}</a> v{{ object.version_number }}</h5>
                <p>{{ object.description }}</p>
                <p>By <a href="{{ object.owner_url }}">{{ object.owner.username }}</a> | {{ object.downloads }} total downloads | <a href="{{ object.website_url }}">{{ object.website_url }}</a></p>
            </div>
        </li>
    {% endfor %}
    {% if is_paginated %}
        <ul class="pagination mt-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active disabled">
                        <a class="page-link" href="#">1</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    <li>No packages found :(</li>
{% endif %}
</ul>

{% endblock %}
