{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-1">Internal server error</h1>
    <p>
        Something went wrong while trying to process your request. The error has
        been logged, and a <i>singular</i> code monkey has been dispatched to
        investigate the issue.
    </p>
    <p>
        If the problem persists and you require immediate assistance, please
        head to our <a href="https://discord.gg/TY9y9XJ">Discord server</a> and
        contact an administrator.
    </p>
    <a href="{% url "index" %}">Back to the main page</a>
{% endblock %}
