{% load static %}
{% load dynamic_html %}

<!doctype html>
<html lang="en">
    <head>
        {% dynamic_html "html_head" %}

        <title>{% block title %}Mod List{% endblock %} | Thunderstore - The Risk of Rain 2 Mod Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}Thunderstore is a mod database and API for downloading Risk of Rain 2 mods{% endblock %}">

        {% block opengraph %}
        <meta property="og:title" content="Thunderstore | Risk of Rain 2 Mod Database" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'icon.png' %}" />
        <meta property="og:image:width" content="303" />
        <meta property="og:image:height" content="303" />

        <meta property="og:description" content="Thunderstore is a mod database and API for downloading Risk of Rain 2 mods" />
        <meta property="og:site_name" content="Thunderstore" />
        {% endblock %}

        {# CSS and JS #}
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <script src="{% static 'js/all.js' %}"></script>
    </head>
    <body>
        {% dynamic_html "html_body_beginning" %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand d-none d-md-block" href="{% url 'index' %}">
                {% if request.site %}{{ request.site.name }}{% else %}Thunderstore{% endif %}
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'packages.list' %}">Browse</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'packages.create' %}">Upload</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Developers</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% if request.community and request.community.wiki_url %}
                            <a class="dropdown-item" href="{{ request.community.wiki_url }}">Modding Wiki</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'swagger' %}">API Docs</a>
                            <a class="dropdown-item" href="https://github.com/risk-of-thunder/Thunderstore">GitHub Repo</a>
                        </div>
                    </div>
                </li>
                {% if request.community and request.community.discord_url %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ request.community.discord_url }}"><span class="fab fa-discord"></span> &nbsp;Join our Discord</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'packages.list_by_owner' uploader_identity %}" class="nav-link text-dark">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "settings.linked-accounts" %}" class="nav-link">Settings</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url "admin:index" %}" class="nav-link">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url "logout" %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url "social:begin" "github" %}" class="nav-link"><span class="fab fa-github"></span> Log in with GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "social:begin" "discord" %}" class="nav-link"><span class="fab fa-discord"></span> Log in with Discord</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="container">
            {% block content_beginning %}
                {% dynamic_html "content_beginning" %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block content_end %}
                {% dynamic_html "content_end" %}
            {% endblock %}
        </div>
    </body>
</html>
