{% load static %}
{% load dynamic_html auth_login %}

<!doctype html>
<html lang="en">
    <head>
        {% dynamic_html "html_head" %}

        <title>{% block title %}Mod List{% endblock %} | {{ site_name }}{% if site_slogan %} - {{ site_slogan }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{{ site_description }}{% endblock %}">
        <link rel="icon" type="image/png" href="{{ site_icon }}" />

        {% block opengraph %}
        <meta property="og:title" content="{{ site_name }}{% if site_slogan %} | {{ site_slogan }}{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{{ site_icon }}" />
        <meta property="og:image:width" content="{{ site_icon_width }}" />
        <meta property="og:image:height" content="{{ site_icon_height }}" />

        {% if site_description %}
        <meta property="og:description" content="{{ site_description }}" />
        {% endif %}
        <meta property="og:site_name" content="{{ site_name }}" />
        {% endblock %}

        {# CSS and JS #}
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <script src="{% static 'js/all.js' %}"></script>
    </head>
    <body>
        {% if request.community.background_image %}
            <div class="background">
                <div class="image" style="background: url({{ request.community.background_image.url }});"></div>
                <div class="tint"></div>
            </div>
        {% endif %}

        {% dynamic_html "html_body_beginning" %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand d-none d-md-block" href="{% url 'index' %}">
                {{ site_name }}
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="communitiesMenu" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Communities</a>
                        {% if selectable_community_sites %}
                        <div class="dropdown-menu communities-dropdown" aria-labelledby="communitiesMenu">
                            <div class="section">
                                <h6 class="title">Popular communities</h6>
                                <div class="grid">
                                    {% for site in selectable_community_sites|slice:":6"|dictsort:"community.name" %}
                                        <a class="grid-item" href="{{ site.full_url }}">{{ site.community.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if selectable_community_sites|length > 6 %}
                                <div class="section">
                                    <h6 class="title">Other communities</h6>
                                    <div class="grid">
                                        {% for site in selectable_community_sites|slice:"6:"|dictsort:"community.name" %}
                                            <a class="grid-item" href="{{ site.full_url }}">{{ site.community.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'old_urls:packages.list' %}">Browse</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'old_urls:packages.create' %}">Upload</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="developersMenu" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Developers</a>
                        <div class="dropdown-menu" aria-labelledby="developersMenu">
                            {% if site_wiki_url %}
                            <a class="dropdown-item" href="{{ site_wiki_url }}">Modding Wiki</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'swagger' %}">API Docs</a>
                            <a class="dropdown-item" href="https://github.com/thunderstore-io/Thunderstore">GitHub Repo</a>
                            <a class="dropdown-item" href="{% url 'old_urls:packages.create.docs' %}">Package Format Docs</a>
                            <a class="dropdown-item" href="{% url 'tools.markdown-preview' %}">Markdown Preview</a>
                            <a class="dropdown-item" href="{% url 'tools.manifest-v1-validator' %}">Manifest Validator</a>
                        </div>
                    </div>
                </li>
                {% if site_discord_url %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ site_discord_url }}"><span class="fab fa-discord"></span> &nbsp;Join our Discord</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'old_urls:packages.list_by_owner' team %}" class="nav-link text-dark">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "settings.linked-accounts" %}" class="nav-link">Settings</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url "admin:index" %}" class="nav-link">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url "logout" %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% add_auth_login_link "github" %}" class="nav-link"><span class="fab fa-github"></span> Log in with GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% add_auth_login_link "discord" %}" class="nav-link"><span class="fab fa-discord"></span> Log in with Discord</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="main">
            <div class="main_content_left">{% block main_content_left %}{% dynamic_html "main_content_left" %}{% endblock %}</div>
            <div class="container">
                {% for message in messages %}
                    <div class="alert mt-3 alert-{{ message.tags }}" role="alert"><p class="mb-0">{{ message }}</p></div>
                {% endfor %}

                {% block content_beginning %}
                    {% dynamic_html "content_beginning" %}
                {% endblock %}

                {% block content %}
                {% endblock %}

            </div>
            <div class="main_content_right">{% block main_content_right %}{% dynamic_html "main_content_right" %}{% endblock %}</div>
        </div>
        <div class="footer">
            <div class="content_footer_dynamic_html">
                {% block content_footer %}
                    {% dynamic_html "content_footer" %}
                {% endblock %}
            </div>
            <div class="container footer_content">
                <div class="footer_content_left">
                    <h1>Thunderstore</h1>
                </div>
                <div class="footer_content_right">
                    <div class="footer_right_developers">
                        <h2>Developers</h2>
                        <a href="{% url 'swagger' %}">API Docs</a>
                        <a href="https://github.com/thunderstore-io/Thunderstore">GitHub Repo</a>
                        <a href="{% url 'old_urls:packages.create.docs' %}">Package Format Docs</a>
                        <a href="{% url 'tools.markdown-preview' %}">Markdown Preview</a>
                        <a href="{% url 'tools.manifest-v1-validator' %}">Manifest Validator</a>
                    </div>
                </div>
            </div>
            <div class="container footer_links">
                <p>Thunderstore 2022</p>
                <div>
                    <a class="nav-link" href="https://discord.gg/UWpWhjZken"><span class="fab fa-discord"></span></a>
                </div>
            </div>
        </div>
        {% block content_end %}
            {% dynamic_html "content_end" %}
        {% endblock %}
    </body>
</html>
