{% load static %}
{% load cache %}
{% load dynamic_html auth_login community_url %}

<!doctype html>
<html lang="en">
    <head>
        {% dynamic_html "html_head" %}

        <title>{% block title %}Mod List{% endblock %} | {{ site_name }}{% if site_slogan %} - {{ site_slogan }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{{ site_description }}{% endblock %}">
        <link rel="icon" type="image/png" href="{{ site_icon }}" />

        {% block opengraph %}
        <meta property="og:title" content="{% block og_title %}{{ site_name }}{% if site_slogan %} | {{ site_slogan }}{% endif %}{% endblock %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{{ site_icon }}" />
        <meta property="og:image:width" content="{{ site_icon_width }}" />
        <meta property="og:image:height" content="{{ site_icon_height }}" />

        {% if site_description %}
        <meta property="og:description" content="{{ site_description }}" />
        {% endif %}
        <meta property="og:site_name" content="{{ site_name }}" />
        {% endblock %}

        {# CSS and JS #}
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <script src="{% static 'js/all.js' %}"></script>
    </head>
    <body>
        {% if community.background_image %}
            <div class="background">
                <div class="image" style="background: url({{ community.background_image.url }});"></div>
                <div class="tint"></div>
            </div>
        {% endif %}

        {% dynamic_html "html_body_beginning" %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary py-2">
            <a class="navbar-brand d-none d-md-block" href="{% url 'index' %}">
                {{ site_name }}
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="communitiesMenu" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Communities</a>
                        {% if selectable_communities %}
                        <div class="dropdown-menu communities-dropdown" aria-labelledby="communitiesMenu">
                            <div class="section">
                                <h6 class="title">Popular communities</h6>
                                <div class="grid" role="list">
                                    {% for community in selectable_communities|slice:":8"|dictsort:"name" %}
                                        <a class="grid-item" href="{{ community.full_url }}" role="listitem">{{ community.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="section">
                                <a class="link" href="{% url 'communities' %}">View all communities ({{ selectable_communities|length }})</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="developersMenu" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">Developers</a>
                        <div class="dropdown-menu" aria-labelledby="developersMenu">
                            <a class="dropdown-item" href="{% url 'swagger' %}">API Docs</a>
                            <a class="dropdown-item" href="https://github.com/thunderstore-io/Thunderstore">GitHub Repo</a>
                            <a class="dropdown-item" href="{% community_url 'packages.create.docs' %}">Package Format Docs</a>
                            <a class="dropdown-item" href="{% url 'tools.markdown-preview' %}">Markdown Preview</a>
                            <a class="dropdown-item" href="{% url 'tools.manifest-v1-validator' %}">Manifest Validator</a>
                        </div>
                    </div>
                </li>
                {% for link in global_nav_links %}
                <li class="nav-item">
                    <a href="{{ link.href }}" class="nav-link {{ link.css_class }}" target="{{ link.target }}" rel="noopener">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% dynamic_html "nav_bar_right_nav" %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        {% if team %}
                            <a title="View packages uploaded by your first team" href="{% community_url 'packages.list_by_owner' owner=team %}" class="nav-link text-dark">{{ request.user.username }}</a>
                        {% else %}
                            <a title="Open team settings" href="{% url "settings.teams" %}" class="nav-link text-dark">{{ request.user.username }}</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a href="{% url "settings.linked-accounts" %}" class="nav-link">Settings</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url "admin:index" %}" class="nav-link">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url "logout" %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="#" id="loginMenu" class="nav-link dropdown-toggle" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login with...
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginMenu">
                                <a class="dropdown-item" href="{% add_auth_login_link 'discord' %}">
                                    <span class="fab fa-discord pr-1"></span>
                                    Discord
                                </a>
                                <a class="dropdown-item" href="{% add_auth_login_link 'github' %}">
                                    <span class="fab fa-github pr-1"></span>
                                    GitHub
                                </a>
                                <a class="dropdown-item" href="{% add_auth_login_link 'overwolf' %}">
                                    <img src="{% static 'overwolf-logo.svg' %}" alt="" width="15" height="15"
                                         class="mr-1 ow-login-icon" style="vertical-align: -2px;" />
                                    Overwolf
                                </a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-dark bg-light py-1">
            <a class="navbar-brand d-none d-md-block" href="{% community_url 'packages.list' %}">{{ community }}</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% community_url 'packages.list' %}">Browse</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% community_url 'packages.create' %}">Upload</a>
                    </li>
                {% endif %}
                {% if site_wiki_url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site_wiki_url }}">Modding Wiki</a>
                    </li>
                {% endif %}
                {% if site_discord_url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site_discord_url }}"><span class="fab fa-discord"></span> &nbsp;Join {{ community }} modding Discord</a>
                    </li>
                {% endif %}
                {% for link in community_nav_links %}
                    <li class="nav-item">
                        <a href="{{ link.href }}" class="nav-link {{ link.css_class }}" target="{{ link.target }}" rel="noopener">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="main">
            <div class="main_content_left">{% block main_content_left %}{% dynamic_html "main_content_left" %}{% endblock %}</div>
            <div class="main_content_right">{% block main_content_right %}{% dynamic_html "main_content_right" %}{% endblock %}</div>
            <div class="main_content_middle container pt-2">
                {% for message in messages %}
                    <div class="alert mt-3 alert-{{ message.tags }}" role="alert"><p class="mb-0">{{ message }}</p></div>
                {% endfor %}

                {% block content_beginning %}
                    {% dynamic_html "content_beginning" %}
                {% endblock %}

                <div class="mt-4">
                {% block content %}
                {% endblock %}
                </div>

                {% block content_end %}
                    {% dynamic_html "content_end" %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="footer_top">
                {% block footer_top %}
                    {% dynamic_html "footer_top" %}
                {% endblock %}
            </div>
            <div class="container footer_content">
                <div class="footer_content_left">
                    <img class="thunderstore_logo" src="{% static 'ts-logo-horizontal.svg' %}" />
                    {% block footer_bottom %}
                        {% dynamic_html "footer_bottom" %}
                    {% endblock %}
                </div>
                {% cache 300 templates.base "footer" "right" %}
                <div class="footer_content_right">
                    {% if legal_contracts %}
                    <div class="footer_column">
                        <h2>Legal</h2>
                        {% for contract in legal_contracts %}
                        <a href="{{ contract.get_absolute_url }}">{{ contract.title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for group in footer_link_groups %}
                    <div class="footer_column">
                        <h2>{{ group.title }}</h2>
                        {% for link in group.links %}
                            <a
                                {% if link.css_class %}class="{{ link.css_class }}"{% endif %}
                                {% if link.target %}target="{{ link.target }}"{% endif %}
                                href="{{ link.href }}">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endcache %}
            </div>
            <div class="container footer_links">
                <p>Thunderstore 2024</p>
                <div>
                    <a class="nav-link" href="https://discord.thunderstore.io/"><span class="fab fa-discord" style="min-height: 24px"></span></a>
                </div>
            </div>
        </div>
    </body>
</html>
