
upstream django {
    server django:8000;
}


server {
    server_name $SERVER_NAME;

    location / {
        proxy_pass http://django;
        proxy_set_header Host $host;
    }

    location /static {
        autoindex on;
        alias /django-data/static/;
    }

    location /media {
        autoindex on;
        alias /django-data/media/;
    }
}
