{% load static %}
{% load google_analytics %}

<!doctype html>
<html lang="en">
    <head>
        {% google_analytics %}

        <title>{% block title %}Mod List{% endblock %} | Thunderstore - The Risk of Rain 2 Mod Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}Thunderstore is a mod database and API for downloading Risk of Rain 2 mods{% endblock %}">

        {% block opengraph %}
        <meta property="og:title" content="Thunderstore | Risk of Rain 2 Mod Database" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'icon.png' %}" />
        <meta property="og:image:width" content="303" />
        <meta property="og:image:height" content="303" />

        <meta property="og:description" content="Thunderstore is a mod database and API for downloading Risk of Rain 2 mods" />
        <meta property="og:site_name" content="Thunderstore" />
        {% endblock %}

        {# Bootstrap #}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand d-none d-md-block" href="{% url 'index' %}">Thunderstore</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'packages.list' %}">Browse</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'packages.create' %}">Upload</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.gg/TY9y9XJ"><span class="fab fa-discord"></span> &nbsp;Join our Discord</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text text-white-50">{{ request.user.username }}</span>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "social:begin" "github" %}"><span class="fab fa-github"></span> Log in with GitHub</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
