[run]
branch = True
data_file = coverage.coverage
omit =
    *migrations/*
    *settings*
    *tests/*
    */apps.py
    */urls.py
    */wsgi.py
    */manage.py
    */admin.py
    thunderstore/debug/*
    */python-packages/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:


[html]
directory = htmlcov
