{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load cache_until %}
{% load qurl %}
{% load get_urls %}
{% load static %}
{% load dynamic_html %}

{% block title %}{{ page_title }}{% endblock %}
{% block content_beginning %}
    {% dynamic_html "frontpage_beginning" %}
{% endblock %}

{% block content %}
{% cache_until "any_package_updated" "mod-list" 1 page_obj.number cache_vary %}

{% if breadcrumbs %}
<nav class="mt-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
        {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}

<div class="row justify-content-center">
    <h2 class="col-6 mt-4 text-center">Download the Mods you need for variety of games</h2>
</div>
<div class="row justify-content-center mb-5">
    <h5 class="col-4 mt-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis luctus dignissim. Suspendisse iaculis mauris quam. Aenean vitae ligula nisi.</h5>
</div>

{% if selectable_community_sites %}
    <div class="d-flex flex-row flex-wrap mb-3 package-list">
    {% for site in object_list %}
        <div class="col-6 col-md-4 col-lg-3 mb-2 p-1 d-flex flex-column">
            <div class="p-0 bg-light">
                <a href="{{ site.get_absolute_url }}">
                    <img class="w-100" src="{% if site.community.thumbnail %}{% thumbnail site.community.thumbnail 256x256 crop %}{% else %}{% static 'thumbnail_placeholder.jpg' 256x256 crop %}{% endif %}" alt="{{ site.community.name }} thumbnail">
                </a>
            </div>
            <div class="bg-light p-2">
                <a href="{{ site.get_absolute_url }}">
                    <h5 class="mb-0 overflow-hidden text-nowrap w-100" title="{{ site.community.name }}">{{ site.community.name }}</h5>
                </a>
                <div class="row mb-1">
                    <div class="col-6" title="Downloads">
                        <i class="fas fa-download text-dark mr-1"></i>&nbsp;{{ site.total_downloads }}
                    </div>
                    <div class="col-6 text-right" title="Packages">
                        <i class="fas fa-solid fa-box-open text-dark ml-1"></i>&nbsp;{{ site.total_listings }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if is_paginated %}
        {% include "repository/includes/pagination.html" with page_obj=page_obj paginator=paginator %}
    {% endif %}
{% else %}
    <li class="my-4">No communities found :(</li>
{% endif %}

<div class="row justify-content-center">
    <h4 class="col-6 mt-4 text-center">Thunderstore Mod Manager</h4>
</div>
<div class="row justify-content-center">
    <h5 class="col-6 mt-4 text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis luctus dignissim. Suspendisse iaculis mauris quam.
        Aenean vitae ligula nisi. Nullam justo ante, facilisis quis tincidunt vitae, ornare eget lorem. Sed elit ligula, vulputate nec eleifend nec, convallis nec dui.
        Aliquam porttitor dolor in sodales semper. Proin non pretium metus. Nullam posuere nec neque eu tempus.
    </h5>
</div>
<div class="row justify-content-center">
    <div class="col-6 col-md-4 col-lg-3 mb-2 p-1 mt-4 d-flex flex-column">
        <div class="p-0 bg-light">
            <a href="https://www.overwolf.com/app/Thunderstore-Thunderstore_Mod_Manager">
                <img class="w-100" src="{% static 'thumbnail_placeholder.jpg' 256x256 crop %}" alt="Thunderstore Mod Manager">
            </a>
        </div>
        <div class="bg-light p-2">
            <a href="https://www.overwolf.com/app/Thunderstore-Thunderstore_Mod_Manager">
                <h5 class="mb-0 overflow-hidden text-nowrap w-100 text-center" title="Mod Manager">Mod Manager</h5>
            </a>
        </div>
    </div>
</div>

{% endcache %}
{% endblock %}
{% block content_end %}
    {% dynamic_html "frontpage_end" %}
{% endblock %}
