{% extends 'base.html' %}
{% load thumbnail %}
{% load markdownify %}
{% load cache_until %}
{% load community_url %}

{% block title %}{{ object.package.display_name }} changelog{% endblock %}
{% block description %}Changelog of {{ object.package.display_name }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ object.package.display_name }} changelog" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% thumbnail object.package.icon 256x256 %}" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />

    <meta property="og:description" content="Changelog of {{ object.package.display_name }}" />
    <meta property="og:site_name" content="{{ site_name }}" />
{% endblock %}

{% block content %}

{% include "community/includes/package_management_panel.html" %}

{% cache_until "any_package_updated" "mod-detail-changelog-header" 300 object.package.pk object.package.latest.pk community_identifier %}

<nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% community_url "packages.list" %}">Packages</a></li>
        <li class="breadcrumb-item"><a href="{% community_url "packages.list_by_owner" owner=object.package.owner.name %}">{{ object.package.owner.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.package.display_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Changelog</li>
    </ol>
</nav>

{% endcache %}

{% include "community/includes/package_status.html" %}

{% cache_until "any_package_updated" "mod-detail-changelog" 300 object.package.pk object.package.latest.pk community_identifier %}

<div class="card bg-light mt-2">
    {% include "community/includes/package_tabs.html" with tabs=tabs %}
    {% include "community/includes/package_header.html" with object=object %}
</div>

<div class="card bg-light mb-2 mt-2">
    <div class="card-header"><h4 class="mb-0">CHANGELOG</h4></div>
    {% if object.package.changelog %}
    <div class="card-body markdown-body">
        {{ object.package.changelog|markdownify }}
    </div>
    {% else %}
    <div class="card-body">
        <p>This package has no changelog available.</p>
    </div>
    {% endif %}
</div>

{% endcache %}
{% endblock %}
