{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load cache_until %}
{% load qurl %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
{% cache_until "any_package_updated" "mod-list" 300 page_obj.number cache_vary %}

{% if breadcrumbs %}
<nav class="mt-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
        {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}

<div class="row">
    <h3 class="col-12 mt-4">{{ page_title }}</h3>
</div>

<form class="form-inline" method="get" action="{{ request.path }}">
    <div class="card bg-light w-100 mb-2">
        <div class="card-body search-options py-3 px-3">

            <div class="row m-0 p-0 w-100 align-items-center">
                <div class="col-7 m-0 p-0 pr-2">
                    <input class="form-control w-100" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ current_search }}">
                    <input type="hidden" name="ordering" value="{{ active_ordering }}">
                </div>
                <div class="col-3 m-0 p-0 pr-1">
                    <button class="btn btn-success w-100" type="submit">Search</button>
                </div>
                <div class="col-2 m-0 p-0">
                    <a href="{% url 'packages.list' %}" class="btn btn-success w-100">Clear</a>
                </div>
            </div>

            <div class="row m-0 p-0 w-100 my-1 align-items-center">
                <div class="col-7 pl-0 pr-2">
                    <select class="slimselect-lg slimselect-info" name="included_categories" id="included_categories" multiple="">
                        {% for category in categories %}
                            <option
                                value="{{ category.pk }}"
                                {% if category.pk in included_categories %}selected=""{% endif %}
                            >
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <script type="text/javascript">
                        new SlimSelect({
                            select: "#included_categories",
                            placeholder: "Include Categories",
                        });
                    </script>
                </div>
                <div class="col-5 pr-0">
                    <div class="checkbox option custom-control custom-switch">
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            id="nsfw"
                            name="nsfw"
                            {% if nsfw_included %}checked=""{% endif %}
                        />
                        <label class="custom-control-label" for="nsfw">Show NSFW</label>
                    </div>
                </div>
            </div>

            <div class="row m-0 p-0 w-100 align-items-center">
                <div class="col-7 pl-0 pr-2">
                    <select class="slimselect-lg slimselect-danger" name="excluded_categories" id="excluded_categories" multiple="">
                        {% for category in categories %}
                            <option
                                value="{{ category.pk }}"
                                {% if category.pk in excluded_categories %}selected=""{% endif %}
                            >
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <script type="text/javascript">
                        new SlimSelect({
                            select: "#excluded_categories",
                            placeholder: "Exclude Categories",
                        });
                    </script>
                </div>
                <div class="col-5 pr-0">
                    <div class="checkbox option custom-control custom-switch">
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            id="deprecated"
                            name="deprecated"
                            {% if deprecated_included %}checked=""{% endif %}
                        />
                        <label class="custom-control-label" for="deprecated">Show deprecated</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-0 mb-2 p-0 w-100">
        <div class="btn-group d-flex" role="group" aria-label="Result ordering">
            {% for entry in ordering_modes %}
                <a href="{% qurl ordering entry.0 %}" class="btn btn-secondary {% if active_ordering == entry.0 %}active{% endif %}">
                    {{ entry.1 }}
                </a>
            {% endfor %}
        </div>
    </div>
</form>

{% if object_list %}
    <div class="d-flex flex-row flex-wrap mb-3 package-list">
    {% for object in object_list %}
        <div class="col-6 col-md-4 col-lg-3 mb-2 p-1 d-flex flex-column
                    {% if object.package.is_deprecated %}text-dark deleted{% endif %}">
            <div class="p-0 bg-light">
                {% if object.package.is_pinned %}
                <div class="pin w-100">
                    <div class="mr-2 p-1 px-2 bg-primary w-auto w-fit-content">
                        <span class="fa fa-thumbtack mr-2"></span> Pinned
                    </div>
                </div>
                {% endif %}
                <a href="{{ object.package.get_absolute_url }}">
                    <img class="w-100" src="{% thumbnail object.package.icon 256x256 crop %}" alt="{{ object.package }} icon">
                </a>
            </div>
            <div class="bg-light p-2">
                <div class="row mb-1">
                    <div class="col-6" title="Downloads">
                        <i class="fas fa-download text-dark mr-1"></i>&nbsp;{{ object.total_downloads }}
                    </div>
                    <div class="col-6 text-right" title="Likes">
                        <span id="package-rating-{{ object.package.uuid4 }}">{{ object.rating_score }}</span>&nbsp;<i class="fas fa-thumbs-up text-dark ml-1" data-action="package.rate" data-target="{{ object.package.uuid4 }}"></i>
                    </div>
                </div>
                <h5 class="mb-0 overflow-hidden text-nowrap w-100" title="{{ object.package.display_name }}">{{ object.package.display_name }}</h5>
                <div class="overflow-hidden text-nowrap w-100">By <a href="{{ object.owner_url }}">{{ object.package.owner.name }}</a></div>
            </div>
            <div class="bg-light px-2 flex-grow-1">
                {{ object.package.description }}
            </div>
            <div class="bg-light p-2">
                <div class="text-dark">
                    <small>Last updated: {% humanize_timestamp object.package.date_updated %}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if is_paginated %}
        {% include "repository/includes/pagination.html" with page_obj=page_obj paginator=paginator %}
    {% endif %}
{% else %}
    <li class="my-4">No mods found :(</li>
{% endif %}

{% endcache %}
{% endblock %}
