{% extends 'base.html' %}
{% load thumbnail %}
{% load arrow %}
{% load markdownify %}
{% load cache_until %}
{% load dynamic_html community_url %}

{% block title %}{{ object.package.display_name }}{% endblock %}
{% block description %}{{ object.package.description }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ object.package.display_name }} v{{ object.package.version_number }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% thumbnail object.package.icon 256x256 %}" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<meta property="og:description" content="{{ object.package.description }}" />
<meta property="og:site_name" content="{{ site_name }}" />
{% endblock %}

{% block content %}

{% include "community/includes/package_management_panel.html" %}

{% cache_until "any_package_updated" "mod-detail-header" 300 object.package.pk community_identifier object.package.latest.pk %}

<nav class="mt-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% community_url "packages.list" %}">Packages</a></li>
    <li class="breadcrumb-item"><a href="{% community_url "packages.list_by_owner" owner=object.package.owner.name %}">{{ object.package.owner.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.package.display_name }}</li>
  </ol>
</nav>

{% endcache %}

{% include "community/includes/package_status.html" %}


<div class="card bg-light mt-2">
    {% include "community/includes/package_tabs.html" with tabs=tabs %}
    {% cache_until "any_package_updated" "mod-detail-content" 300 object.package.pk community_identifier object.package.latest.pk %}
    {% include "community/includes/package_header.html" with object=object %}
    <div class="card-body pb-1">
        <table class="table mb-0">
            <tr>
                <td>Last updated</td>
                <td>{% humanize_timestamp object.package.date_updated %}</td>
            </tr>
            <tr>
                <td>Total downloads</td>
                <td>{{ object.package.downloads }}</td>
            </tr>
            <tr>
                <td>Total rating</td>
                <td><span id="package-rating-{{ object.package.uuid4 }}">{{ object.package.rating_score }}</span>&nbsp;<i class="fas fa-thumbs-up text-dark ml-1" data-action="package.rate" data-target="{{ object.package.uuid4 }}"></i></td>
            </tr>
            <tr>
                <td>Categories</td>
                <td>
                    {% for category in object.categories.all %}
                        <a href="{% community_url "packages.list" %}?included_categories={{ category.pk }}"><span class="badge badge-pill badge-secondary">{{ category.name }}</span></a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Dependency string</td>
                <td>{{ object.package.latest.full_version_name }}</td>
            </tr>
            <tr>
                <td>Dependants</td>
                <td><a href="{{ object.dependants_url }}">{{ dependants_string }}</a>
            </tr>
        </table>
    </div>
</div>

<div class="row my-2">
    <div class="col-12 col-sm-6 px-3 pl-sm-3 pr-sm-1">
        <a href="{{ object.package.latest.install_url }}" type="button" class="btn btn-primary w-100 text-large">
            <i class="fa fa-rocket mr-2" aria-hidden="true"></i>Install with Mod Manager
        </a>
    </div>
    <div class="col-12 col-sm-6 px-3 pr-sm-3 pl-sm-1 mt-1 mt-sm-0">
        <a href="{{ object.package.latest.full_download_url }}" type="button" class="btn btn-primary w-100 text-large">
            <i class="fa fa-download mr-2" aria-hidden="true"></i>Manual Download
        </a>
    </div>
    {% if object.package.owner.donation_link %}
    <div class="col-12 mt-2">
        <a href="{{ object.package.owner.donation_link }}" target="_blank" rel="noopener" type="button" class="btn btn-info w-100 text-large">
            <i class="fa fa-heart mr-2" aria-hidden="true"></i>Support the creator
        </a>
    </div>
    {% endif %}
</div>

{% dynamic_html "package_page_actions" %}

{% with object.package.dependencies as dependencies %}
{% if dependencies %}
    {% include "repository/includes/dependencies.html" with dependencies=dependencies %}
{% endif %}
{% endwith %}

<div class="card bg-light mb-2 mt-2">
    <div class="card-header"><h4 class="mb-0">README</h4></div>
    <div class="card-body markdown-body">
        {{ object.package.readme|markdownify }}
    </div>
</div>

{% endcache %}
{% endblock %}
