.footer {
    background-color: #222222;
}

.footer_top {
    background-color: #1c1c1c;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 0rem 3rem 0rem;

    @media (max-width: 575px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem 2rem 0rem;
    }
}

.footer_content_left > h1 {
    font-size: 1.5rem !important;
}

.thunderstore_logo {
    width: 14rem;
    @media (max-width: 575px) {
        padding: 0rem 0rem 2rem 0rem;
    }
}

.footer_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    color: #888;
    border-top: 0.1rem solid #3c3c3c !important;

    @media (max-width: 575px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.footer_links > p {
    margin: 0;
}

.footer_links > div > a {
    color: #888 !important;
    padding: 1rem;
}

.footer_links > div > a > span {
    font-size: 1.5rem;
}

.footer_content_right {
    display: flex;
    gap: 5rem;

    @media (max-width: 575px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.footer_right_developers {
    display: flex;
    flex-direction: column;
}

.footer_right_developers > h2 {
    font-size: 1rem !important;
}
