@import "./theme/_variables";

.field-wrapper {
    margin: 10px 0;

    .ss-main .ss-multi-selected {
        min-height: 38px;

        .ss-disabled {
            color: #999999;
        }

        .ss-disabled,
        .ss-values .ss-value {
            font-size: 16px;
        }

        .ss-add {
            margin-top: 14px;
        }
    }

    .field-errors {
        ul {
            margin: 0;
        }
    }
}

.field-row {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    label {
        margin-bottom: 0;
        flex: 0 0 200px;
    }

    input[type="checkbox"] {
        width: 32px;
        height: 32px;
    }
}

.select-category {
    min-width: 250px;
    flex: 1;
}

.select-community {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
}

input {
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid $gray-600;
    outline: 0 !important;
    box-shadow: inset 0 0 0 1px transparent;
}

input:focus {
    border-color: $cyan;
    box-shadow: inset 0 0 0 1px $cyan;
}
