@import "./theme/_variables";

.deleted {
    text-decoration: line-through !important;
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w-fit-content {
    width: fit-content !important;
}

.rated {
    color: #3498db !important;
}

.clickable {
    cursor: pointer;
}

.rotate {
    animation: rotate 1.5s linear infinite;
}

.category-badge-container {
    padding-left: 5px !important;

    .category-badge {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .tint {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.nav-light .nav-link.active {
    background-color: $light;
}

.nav-secondary .nav-link.active {
    background-color: $secondary;
}

.main_content_left,
.main_content_right {
    flex-grow: 1;
    flex-basis: 0;
}
.main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
