
.deleted {
    text-decoration: line-through !important;
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w-fit-content {
    width: fit-content !important;
}

.rated {
    color: #3498db!important;
}

.clickable {
    cursor: pointer;
}

.rotate {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
