.deleted {
    text-decoration: line-through !important;
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w-fit-content {
    width: fit-content !important;
}

.rated {
    color: #3498db !important;
}

.clickable {
    cursor: pointer;
}

.rotate {
    animation: rotate 1.5s linear infinite;
}

.category-badge-container {
    padding-left: 5px !important;

    .category-badge {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .tint {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.main_content_left,
.main_content_right {
    flex-grow: 1;
    flex-basis: 0;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

.footer {
    background-color: #222222;
}

.content_footer_dynamic_html {
    background-color: #1c1c1c;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 25px 25px 25px;

    @media (max-width: 575px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.footer_content_left > h1 {
    font-size: 1.5rem !important;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #4c4c4c;
    border-top: 0.1rem solid #3c3c3c !important;

    @media (max-width: 575px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.footer_links > p {
    margin: 0;
}

.footer_links > div > a {
    color: #4c4c4c !important;
    padding: 0.5em 0em 0.5em 0em;
}

.footer_right_developers {
    display: flex;
    flex-direction: column;
}

.footer_right_developers > h2 {
    font-size: 1rem !important;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
