.package-list {
    margin-left: -4px;
    margin-right: -4px;
}

.pin {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.pin .fa-thumbtack {
    transform: rotate(45deg);
    transform-origin: center;
}

.search-options {
    .checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .ss-main .ss-multi-selected {
        min-height: 38px;

        .ss-disabled,
        .ss-values .ss-value {
            font-size: 16px;
        }

        .ss-add {
            margin-top: 14px;
        }
    }
}
