@import "./theme/_variables";

.lander-column-margins {
    margin-top: 8%;
    margin-bottom: 8%;
}

.mod-count-box > img {
    max-width: 96px;
    max-height: 96px;
}

.modspic {
    max-width: 500px;
    max-height: 500px;
}

.mod-manager-pic {
    max-width: 10rem;
    max-height: 10rem;
}

.mod-count-box > p {
    margin-bottom: 0;
}

.ts-primary-button {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    background-color: #00d2ff;
    color: #000001;
}

.ts-secondary-button {
    font-size: 14px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    background-color: #00000100;
    border-width: 0;
}

.highlighted-text {
    color: #2f8ec4;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.ts-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 12rem;
    height: 20rem;
    flex-grow: 1;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.ts-card > div > a > h5 {
    color: white !important;
}

.package-list {
    margin-left: -4px;
    margin-right: -4px;
}

.pin {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.pin .fa-thumbtack {
    transform: rotate(45deg);
    transform-origin: center;
}

.search-options {
    .checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .ss-main .ss-multi-selected {
        min-height: 38px;

        .ss-disabled,
        .ss-values .ss-value {
            font-size: 16px;
        }

        .ss-add {
            margin-top: 14px;
        }
    }

    .search-options-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25px;
        max-height: 25px;
        overflow: hidden;
        background-color: $primary;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        .icon {
            display: inline-block;
            position: absolute;

            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;

            top: -13px;
            font-size: 26px;
        }

        :hover {
            background-color: darken($primary, 5%);
            border-color: darken($primary, 5%);
        }

        :focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
}
