.slimselect-lg .ss-multi-selected,
.slimselect-lg .ss-single-selected {
    min-height: 36px;

    .ss-disabled {
        color: #999999;
    }

    .ss-disabled,
    .ss-values .ss-value {
        font-size: 16px;
    }
}
