{% load static %}
<html>
    <head>
        <title>Nexus</title>
    </head>
    <body>
        <div class="navigation">
            <ul>
                <li><a href="{% url 'index' %}">Front page</a></li>
                <li><a href="{% url 'packages.list' %}">List packages</a></li>
                <li><a href="{% url 'packages.create' %}">Upload package</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
