{% extends 'settings/base.html' %}

{% block title %}Team {{ team.name }}{% endblock %}

{% block settings_sidebar_extra %}
<div class="card bg-light mt-2">
    <div class="card-header">
        <h5 class="mb-0">Team {{ team.name }}</h5>
    </div>
    <div class="card-body">
        <ul class="pl-3 mb-0">
            <li><a href="{% url 'settings.teams.detail' team.name %}">Members</a></li>
            <li><a href="{% url 'settings.teams.detail.service_accounts' team.name %}">Service Accounts</a></li>
            <li><a href="{% url 'settings.teams.detail.leave' team.name %}" class="text-danger">Leave</a></li>
            <li><a href="{% url 'settings.teams.detail.disband' team.name %}" class="text-danger">Disband</a></li>
        </ul>
    </div>
</div>
{% endblock %}
