{% extends "settings/team_base.html" %}

{% block settings_content %}
{% if can_create %}
<div class="row mb-3">
    <div class="col-12">
        <a href="{% url 'settings.teams.detail.add_service_account' team.name %}" class="btn btn-success">
            Add service account
        </a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Last used</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in team.members.service_accounts %}
                <tr>
                    <td>{{ membership.user.first_name }}</td>
                    <td>{{ membership.user.service_account.last_used|date:"Y-m-d H:i" }}</td>
                    <td>
                        {% if can_delete %}
                        <form
                            id="sa-remove-{{ membership.user.service_account.pk }}"
                            class="form-inline d-flex justify-content-end"
                            method="post"
                            action="{{ request.path }}"
                        >
                            {% csrf_token %}
                            <input type="hidden" name="service_account" value="{{ membership.user.service_account.pk }}" />
                            <input type="hidden" name="remove" value="remove" />
                            <div class="d-flex justify-content-end">
                                <button
                                    type="button"
                                    class="btn btn-danger ml-2"
                                    data-toggle="modal"
                                    data-target="#sa-remove-modal"
                                    data-form-id="#sa-remove-{{ membership.user.service_account.pk }}"
                                    data-sa-name="{{ membership.user.first_name }}">
                                    Remove
                                </button>
                            </div>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if can_delete %}
<div id="sa-remove-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sa-remove-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="sa-remove-modal-label" class="modal-title">
                    Confirm service account removal
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are about to remove service account
                <kbd id="sa-remove-modal-nickname" class="text-info"></kbd>.
                Related API token will stop working immediately if the service
                account is removed. <strong>This can't be undone.</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="sa-remove-submit" type="submit" class="btn btn-danger">Remove service account</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#sa-remove-modal').on('show.bs.modal', function (event) {
        const modal = $(this);
        const button = $(event.relatedTarget);

        modal.find('#sa-remove-modal-nickname').text(button.data('sa-name'));
        modal.find('#sa-remove-submit').on('click', () => {
            $(button.data('form-id')).trigger('submit');
        });
    });
</script>
{% endif %}
{% endblock %}
