{% extends 'settings/team_base.html' %}

{% block settings_content %}
<p>
    Enter the username of the user you wish to add to the team <kbd class="text-info">{{ team.name }}</kbd>
</p>

<form class="form-inline" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class="col-12 p-0 mb-2">
        <input type="hidden" name="team" value="{{ team.id }}">
        <div class="d-flex">
            <div>
                <input style="min-width: 300px;" type="text" class="form-control" name="user" placeholder="Username">
                <div class="text-danger mt-2">{{ form.user.errors }}</div>
            </div>
            <div class="w-100">
                <select class="slimselect slimselect-lg mx-2" name="role" id="role">
                {% for value, label in form.fields.role.choices %}
                    <option value="{{ value }}"{% if form.fields.role.initial == value %} selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </select>
                <div class="text-danger mt-2">{{ form.role.errors }}</div>
            </div>
        </div>
    </div>
    <div class="text-danger mt-2 mb-2">
        {{ form.non_field_errors }}
    </div>
    <div class="col-12 p-0">
        <input type="submit" class="btn btn-success" value="Add member">
    </div>
    <script type="text/javascript">
        new SlimSelect({select: "#role"});
    </script>
</form>
{% endblock %}
